<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formularz</title>
    <script>
        if (window.history && window.history.pushState) {
            window.history.pushState('forward', null, './#forward');
            $(window).on('popstate', function() {
                window.history.pushState('forward', null, './#forward');
            });
        }
    </script>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body> 
    <form action="/page3" method="post"">
      <h1>Formularz osobowy</h1>
        <form id="form">
          
        <div class="form-control">
          <label>Płeć:
            </label>
            <!-- Input Type Checkbox -->
            <label for="inp-1">
                <input type="radio" name="plec"value="Kobieta" id = "plec" required >Kobieta</input></label>
            <label for="inp-2">
                  <input type="radio" name="plec"value="Mężczyzna" id = "plec" required >Mężczyzna</input></label>
            <label for="inp-3">
                  <input type="radio" name="plec"value="Inna" id = "plec" required >Inna</input></label>
           <label for="inp-3">
                  <input type="radio" name="plec"value="Nie chce podawać" id = "plec" required >Nie chcę podawać</input></label>
        </div>

          <div class="form-control">
            <label for="age" id="label-age">
                Wiek:
            </label>
 
            <!-- Input Type Text -->
            <input type="number" name="wiek" id="wiek" placeholder="Wprowadź swój wiek" min="1" max="125" required  > </input>
        </div>
          
          <div class="form-control">
          <label>O jakiej porze wykonujesz test?
            </label>
            <!-- Input Type Checkbox -->
            <label for="inp-1">
                <input type="radio" name="godzina" value="6-10" id = "godzina" required >6-10</input></label>
            <label for="inp-2">
                   <input type="radio" name="godzina" value="10-14" id = "godzina" required >10-14</input></label>
            <label for="inp-3">
                   <input type="radio" name="godzina" value="14-18" id = "godzina" required >14-18</input></label>
             <label for="inp-3">
                   <input type="radio" name="godzina" value="18-22" id = "godzina" required >18-22</input></label>
            <label for="inp-5">
                   <input type="radio" name="godzina" value="Po 22" id = "godzina" required >Po 22</input></label>
        </div>
          
        <div class="form-control">
          <label>W jakim miejscu wykonujesz test?
            </label>
            <!-- Input Type Checkbox -->
            <label for="inp-1">
                <input type="radio" name="miejsce" value="Home" id = "miejsce" required >W domu</input></label>
            <label for="inp-2">
                  <input type="radio" name="miejsce" value="Public" id = "miejsce" required >W szkole/na uczelni</input></label>
            <label for="inp-3">
                <input type="radio" name="miejsce" value="Inna" id = "plec" required >W biurze/w pracy</input></label>
           <label for="inp-4">
                <input type="radio" name="miejsce" value="Inna" id = "plec" required >W miejscu publicznym (np. biblioteka, kawiarnia)</input></label>
           <label for="inp-5">
                <input type="radio" name="miejsce" value="Inna" id = "plec" required >W innym</input></label>
        </div>
          
          
       <div class="form-control">
         <label>Jak się dziś czujesz? Oceń swoje samopoczucie, gdzie 1 to bardzo źle, a 5 wyśmienicie:</label>
           <input type="range" name="samopoczucie" value="1" id="samopoczucie"
         min="1" max="5"  oninput="this.nextElementSibling.value = this.value" required ><output>1</output>
        </div>
          
      
<div class="form-control">
         <label>Jak oceniasz swoją zdolność koncentracji, gdzie 1 to bardzo słaba, a 5 doskonała:</label>
           <input type="range" name="koncentracja" value="1" id="koncentracja"
         min="1" max="5"  oninput="this.nextElementSibling.value = this.value" required ><output>1</output>
        </div>

 <div class="form-control">
         <label>W skali od 1 do 5 jak często masz problemy ze skupieniem się, gdzie 1 to wcale, a 5 bardzo często:</label>
           <input type="range" name="problemy" value="1" id="problemy"
         min="1" max="5"  oninput="this.nextElementSibling.value = this.value" required ><output>1</output>
        </div>         

     
          
   <div class="form-control">
          <label>Czy uważasz, że pora dnia wpływa na zdolność koncentracji?</label>
          <label>
            <input type="radio" name="pora_dnia" value="Tak" id="pora_dnia" required >
            Zdecydowanie tak
          </label>
          <label>
            <input type="radio" name="pora_dnia" value="Rtak" id="pora_dnia" required >
            Raczej tak
          </label>
       <label>
            <input type="radio" name="pora_dnia" value="Nie mam zdania" id="pora_dnia" required >
            Nie mam zdania/trudno powiedzieć
          </label>
     <label>
            <input type="radio" name="pora_dnia" value="RNie" id="pora_dnia" required >
            Raczej nie
          </label>
     <label>
            <input type="radio" name="pora_dnia" value="Nie" id="pora_dnia" required >
            Zdecydowanie nie
          </label>
        </div>
          
        <div class="form-control">
          <label>Czy sądzisz, iż miejsce wpływa na zdolność koncentracji?</label>
          <label>
            <input type="radio" name="miejsce_koncentracja" value="Tak" id="miejsce_koncentracja" required >
            Zdecydowanie tak
          </label>
         <label>
            <input type="radio" name="miejsce_koncentracja" value="Rtak" id="miejsce_koncentracja" required >
            Raczej tak
          </label>
       <label>
            <input type="radio" name="miejsce_koncentracja" value="Nie mam zdania" id="miejsce_koncentracja" required >
            Nie mam zdania/trudno powiedzieć
          </label>
     <label>
            <input type="radio" name="miejsce_koncentracja" value="RNie" id="miejsce_koncentracja" required >
            Raczej nie
          </label>
     <label>
            <input type="radio" name="miejsce_koncentracja" value="Nie" id="miejsce_koncentracja" required >
            Zdecydowanie nie
          </label>
        </div>

            <div class="form-control">
          <label>Czy stosujesz jakieś techniki, aby zwiększyć swoją koncentrację, np. medytację, ćwiczenia oddechowe itp.?</label>
          <label>
            <input type="radio" name="techniki" value="Tak, regularnie" id="techniki" required >
            Tak, regularnie
          </label>
         <label>
            <input type="radio" name="techniki" value="Tak, ale sporadycznie" id="techniki" required >
            Tak, ale sporadycznie
          </label>
     <label>
            <input type="radio" name="techniki" value="Bardzo rzadko " id="techniki" required >
            Bardzo rzadko 
          </label>
     <label>
            <input type="radio" name="techniki" value="Nie stosuję" id="techniki" required >
            Nie stosuję
          </label>
        </div>

          <div class="form-control">
          <label>Jak często przerywasz swoją pracę, aby odpocząć lub zrobić coś innego?</label>
          <label>
            <input type="radio" name="przerwanie" value="Bardzo często" id="przerwanie" required >
            Bardzo często
          </label>
         <label>
            <input type="radio" name="przerwanie" value="Często" id="przerwanie" required >
            Często
          </label>
     <label>
            <input type="radio" name="przerwanie" value="Czasem" id="przerwanie" required >
            Czasem
          </label>
            <label>
            <input type="radio" name="przerwanie" value="Rzadko" id="przerwanie" required >
            Rzadko
          </label>
     <label>
            <input type="radio" name="przerwanie" value="Nigdy" id="przerwanie" required >
            Nigdy
          </label>
        </div>

    <div class="form-control">
          <label>Czy stwierdziłeś, że korzystanie z telefonu komórkowego lub mediów społecznościowych wpływa na Twoją koncentrację?</label>
         <label>
            <input type="radio" name="telefon" value="Tak" id="telefon" required >
            Zdecydowanie tak
          </label>
         <label>
            <input type="radio" name="telefon" value="Rtak" id="telefon" required >
            Raczej tak
          </label>
       <label>
            <input type="radio" name="telefon" value="Nie mam zdania" id="telefon" required >
            Nie mam zdania/trudno powiedzieć
          </label>
     <label>
            <input type="radio" name="telefon" value="RNie" id="telefon" required >
            Raczej nie
          </label>
     <label>
            <input type="radio" name="telefon" value="Nie" id="telefon" required >
            Zdecydowanie nie
          </label>
        </div>
        
        <a href="/page4">
          <button  type="submit">Dalej</button> 
        </a>
        
     
      <footer>
        
        <p>2023 © Szczodrowski & Makowiecki</p>
      </footer>
      </form>
      </form>
  </body>
</html>
