<!DOCTYPE html>
<html>
  <head>
    <title>Stroop Test</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        font-size: 36px;
      }

      #color-name {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 72px;
        margin-bottom: 50px;
      }

      #color-button {
        font-size: 36px;
        padding: 20px 50px;
      }

      #result {
        font-size: 48px;
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    
    <h1>Stroop Test</h1>
    <p id="color-name"></p>
    <button id="color-button">Press when colors match</button> 
    <p id="result"></p>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      var score = 0;
      var attempts = 0;
      
      var timer;
      var lastColor;

       function getColor() {
        var color;
        do {
          color = randomColor();
        } while (color === lastColor);
        lastColor = color;

        $.getJSON('/get_color', function(data) {
          $('#color-name').text(data);
          $('#color-name').css('color', getRGB(color));
        });
      }

      function getRGB(color) {
        var rgb;
        switch (color) {
          case 'red':
            rgb = 'rgb(255, 0, 0)';
            break;
          case 'blue':
            rgb = 'rgb(0, 0, 255)';
            break;
          case 'green':
            rgb = 'rgb(0, 128, 0)';
            break;
        }
        return rgb;
      }

      function randomColor() {
        var colors = ['red', 'blue', 'green'];
        var color = colors[Math.floor(Math.random() * colors.length)];
        return color;
      }

     function startTimer() {
        timer = setTimeout(function() {
          // Sprawdzanie, czy nazwa koloru odpowiada rzeczywistemu kolorowi
          var color = $('#color-name').text().toLowerCase();
          var textColor = $('#color-name').css('color');
          if (textColor == getRGB(color) && attempts < 5) {
            attempts++;
            $('#result').text('Score: ' + score + '/' + attempts);
          }else if (attempts === 5) {
            stopTimer();
            $('#result').text('');
            $('#color-button').attr('disabled', true);
            $('#next-button').attr('disabled', false);
            $('#result').text('Score: ' + score + '/' + attempts);
   
              
  }else{
    $('#result').text('Score: ' + score + '/' + attempts);
  }
          
          
          getColor();
          startTimer();
        }, 2000);
      }

      function stopTimer() {
        clearTimeout(timer);
      }



  function checkAnswer() {
    var color = $('#color-name').text().toLowerCase();
    var textColor = $('#color-name').css('color');

   
    if (textColor === getRGB(color)) {
        score++;
    }
    attempts++;
    $('#result').text('Score: ' + score + '/' + attempts);

    if (attempts === 5) {
        stopTimer();
        $('#result').text('');
        $('#color-button').attr('disabled', true);
        $('#next-button').attr('disabled', false);
        $('#result').text('Score: ' + score + '/' + attempts);
        // Add score to database
        $.ajax({
            type: 'POST',
            url: '/page6',
            contentType: 'application/json',
            data: JSON.stringify({'score1': score}),
            success: function(response) {
                console.log(response);
            }
        });
    } else {
       $('#color-button').attr('disabled', true);
setTimeout(function() {
    $('#color-button').removeAttr('disabled');
}, 1000);
        stopTimer();
        getColor();
        startTimer();
    }
}

      $('#color-button').click(checkAnswer);
      getColor();
      startTimer();

      $('#color-name').on('DOMSubtreeModified', function() {
        stopTimer();
        startTimer();
      });
    </script>
    <br>
    <a href = "/page7">
    <button disabled id="next-button">Dalej</button>
    </a>
  </body>
</html>