<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Koncentracja</title>
    <link rel="stylesheet" href="static/style.css">
      <script>
        if (window.history && window.history.pushState) {
            window.history.pushState('forward', null, './#forward');
            $(window).on('popstate', function() {
                window.history.pushState('forward', null, './#forward');
            });
        }
    </script>
    <style>
       button {
            background-color: #7B68EE;
            border: 1px solid #777;
            color: White;
            border-radius: 2px;
            font-family: inherit;
            font-size: 21px;
            display: block, center;
            width: 50%;
            margin-top: 50px;
            margin-bottom: 20px;
        }
    </style>
  </head>
  <body> 
     <form id="form">
      <p> Podczas tego prostego testu twoim zadaniem jest wciśnięcie guzika w momencie,<br>
       w którym kolor tekstu pokryje się z jego znaczeniem.<br>
      </p>
     </form>

      
       <a href = "/page5">
      <button> Rozpocznij </button> 
       </a>
      
   
    <footer>
      <p>2023 Copyright Szczodrowski & Makowiecki</p>
       
    </footer>
  </body>
</html>
