<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Koncentracja</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <script>
        if (window.history && window.history.pushState) {
            window.history.pushState('forward', null, './#forward');
            $(window).on('popstate', function() {
                window.history.pushState('forward', null, './#forward');
            });
        }
    </script>
  </head>
  <body> 
    <form id="form">
      <p>Drugi test polega na realizowaniu polecenia które wyświetli się<br>
        na następnej stronie. Będziesz musiał wybrać jedną z dwóch figur poprzez naciśnięcie jej.<br>
       
      </p>
     </form>

      
       <a href = "/page8">
      <button> Rozpocznij </button> 
       </a>
    <footer>
      <p>2023 Copyright Szczodrowski & Makowiecki</p>
    </footer>
  </body>
</html>
