<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Koncentracja</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <script>
        if (window.history && window.history.pushState) {
            window.history.pushState('forward', null, './#forward');
            $(window).on('popstate', function() {
                window.history.pushState('forward', null, './#forward');
            });
        }
    </script>
  </head>
  <body> 
    <div class="container">
      <p>HORDA JEST NIEZŁOMNA</p>
     

      
       <a href = "/page8">
      <button> Rozpocznij </button> 
       </a>
    </div>
    <footer>
      <p>2023 Copyright Szczodrowski && Makowiecki</p>
    </footer>
  </body>
</html>
