<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Koncentracja</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body> 
    <form id="form">
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae augue id tortor imperdiet tempor. Etiam tincidunt, nulla vel eleifend venenatis, felis elit faucibus enim, vitae dictum elit mauris nec quam. Mauris at rhoncus ipsum, sit amet viverra ipsum. Donec finibus sodales eros ultrices venenatis. Phasellus luctus ullamcorper viverra. Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque id ligula ipsum. </p>
        </form>

      
       <a href = "/colors">
      <button> Rozpocznij </button> 
       </a>
      
   
    <footer>
      <p>2023 Copyright Szczodrowski && Makowiecki</p>
       
    </footer>
 
  </body>
</html>
